@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100..700&family=Kablammo&display=swap');

$mainFont: 'Arima', Sans-serif;
$sekundarFont: 'Kablammo', Sans-serif;

$white: #ffffff;
$blue: rgb(136, 186, 255);
$black: rgb(0, 0, 0);
$grey: rgb(155, 155, 155);



